body {
    background-color: #212121;
    width: 1300px;
    margin: 0;
}

#page-wrapper {
    position: relative;
    width: calc(100% - 140px);
    margin: 40px 45px 40px 45px;
}

#my-icon {
    padding: 10px;
    position: absolute;
    left: 215px;
    top: 0;
    width: 110px;
    height: 110px;
}

.fancy-image-borders {
    border: 1px solid #ffbb00;
    border-radius: 55px;
}

.my-image {
    width: 100%;
    height: 100%;
}

#my-name {
    position: absolute;
    right: 0;
    top: 20px;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    line-height: 50px;
}

#my-title {
    position: absolute;
    right: 0;
    top: 85px;
    font-size: 20px;
    line-height: 20px;
}

.space-top {
    margin-top: 35px;
}

#main-content {
    position: absolute;
    top: 135px;
    left: 215px;
    width: 950px;
    height: 395px;
    border-top: 5px solid #ff8c00;
}

#themed-color-container {
    position: absolute;
    top: 135px;
    left: 70px;
}

.color-div {
    margin: 8px;
    height: 75px;
    width: 75px;
}

#hex-color-hint {
    position: absolute;
    top: 425px;
    left: 70px;
    margin: 5px;
    font-size: 20px;
    line-height: 20px;
}

#feature-content {
    position: absolute;
    margin: 45px 0 0 0;
    top: 575px;
    left: 215px;
    height: 370px;
}

.feature-banner {
    font-size: 30px;
    line-height: 30px;
}

.the-banner {
    padding: 0 0 10px 20px;
}

.feature {
    position: relative;
    display: inline-block;
    height: 290px;
    width: 290px;
    margin: 10px;
}

.feature-name {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    bottom: 60px;
}

.feature-link {
    position: absolute;
    width: 100%;
    text-overflow: ellipsis;
    bottom: 30px;
    text-align: center;
}

a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.feature-image {
    position: absolute;
    width: 290px;
    height: 190px;
    bottom: 105px;
}

.color-1 {
    color: #ff8c00;
}

.color-1-background {
    background-color: #ff8c00;
}

.color-2 {
    color: #ffbb00;
}

.color-2-background {
    background-color: #ffbb00;
}

.color-3 {
    color: #ff3d00;
}

.color-3-background {
    background-color: #ff3d00;
}